

@import url('home.css');

/* edit on global property */
.title {
    color: var(--secondColor) !important;
    font-size: 30px !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
}

aside .menu {
    top: 60%;
}

/* -------------------------------------- */


.patient_profile {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}
.patient_profile .img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}
.patient_profile .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.patient_profile .patient_info {
    line-height: 1;
}
.patient_info .name , .patient_info .job {
    text-transform: capitalize;
}
.patient_info .name {
    color: var(--mainColor);
}

.patient_info .job {
    color: var(--secondColor);
}

.more_details {
    display: flex;
    align-items: center;
    margin: 60px 0px;
    overflow-x: auto;
}

.more_details div {
    text-align: center;
    border-right:2px solid var(--bgColor) ;
    padding: 0px 20px;
    line-height: 1.2;
}
.more_details div:last-child {
    border-right: none ;
}

.more_details div h3 {
    text-transform: capitalize;
    color: var(--mainColor);
    font-size: 20px;
}

.more_details div span {
    text-transform: capitalize;
    color: var(--secondColor);
}

.cart_details {
    width: 100% !important;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 50px;
}

.cart_details .cart_item {
    width: calc((100% / 2 ) - 70px);
    background-color: var(--bgColor);
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}

.cart_details .cart_item .icon img{
    width: 50px;
}

.cart_details .cart_item .desc span{
    text-transform: capitalize;
    font-size: 15px;
    color: var(--secondColor);
}

.cart_details .cart_item .desc h3{
    text-transform: capitalize;
    font-size: 20px;
    color: var(--mainColor);
}

.cart_details .cart_item .rating {
    color: var(--mainColor);
    font-size: 16px;
    padding-bottom: 5px;
}


.next_appointment {
    margin: 50px 0px;
}


.next_appointment .title {
    color: var(--mainColor) !important;
}

.next_appointment .next-parent {
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.next_appointment .next-parent  .next_appointment_item {
   width: calc((100% / 2 ) - 70px);
}

.next_appointment_item .date {
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
    color: var(--secondColor);
    margin-bottom: 10px;
}

.next_appointment_item .date-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgColor);
    padding:20px 30px;
    border-radius: 5px;
}


.nots .title {
    color: var(--mainColor) !important;
}

.nots .text-wrapper {
    overflow-x: auto;
}
.nots .note-text-area {
    width: 480px;
    background-color: var(--bgColor);
    color: var(--secondColor);
    font: 17px;
    text-transform: capitalize;
    border-radius: 15px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.nots button.done {
    all: unset;
    padding: 10px 50px;
    font-size: 20px;
    color: white;
    background-color: var(--secondColor);
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.nots button.done:hover {
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    background : none;
}

@media screen and (max-width:757px){
    .patient_profile .img {
        width: 90px ;
        height: 90px ;
        margin-right: 20px ;
    }
    .patient_info .name {
        font-size: 20px
    }

    .cart_details .cart_item {
        width: calc((100% / 1 ) - 0px);
    }

    .next-parent .next_appointment_item {
        width: calc((100% / 1 ) - 0px) !important;
        margin-bottom: 10px;
    }

}